body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f5f5f5
}

.header{
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 2px -2px lightgrey;
}

.upload-box {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    border-radius: 10px;

}

.inner-box {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.plus-button{
    background-color: #f3f3f3;
    border: none;
    color: #333;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    padding-bottom: 2.5%;
}

.plus-button:hover{
    background-color: #e6e6e6;
}

h1 {
    background-color: #ffff;
    color: #333;
}

.centre{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }


#data {
    font-weight: bold;
    color: #ff0000;
}

#imagePreview {
    display: none;
    max-width: 25%;
    height: auto;
    margin-top: 10px;
}

.btn-style{
    background-color: #ffff;
    border: none;
    color: #333;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    padding: 2.5%;
}

.btn-style:hover{
    background-color: #f3f3f3;
}